html, body, #mapMain {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFF;
    overflow: hidden;
    font-family: "Trebuchet MS";
}

#bcMain {
    width: 100%;
    height: 100%;
}

/* Header */
#cpTitle {
  width: 100%;
  min-height:6%;
  padding-top:.5em;
  padding-bottom:.25em;
  background-color:#f3f0ea;
}

#mapTitle {
  clear:left;
  float:left;
  display:block;
  padding-left:10px;
}

#toolbar{
  float:right;
  display:block;
  padding-right:20px;
}

#mapTitle h1 {
  padding:0;
  margin:0;
  font-family:"Vitesse SSm A","Vitesse SSm B",Vitesse,Arial,sans-serif;
  font-weight:bold;
}

/* Sidebar */
#cpLeading {
   /* width: 17.5%;*/
  width: 270px;
  font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
  font-size:14px;
  
}
#ddown {
  padding-left:10px;
}

#divLayers {
  display:block;
  clear:both;
}

#lppanel div{
  padding:10px;
}

#divLegend {
  display:block;
  clear:both;
  padding-left:10px;
}
.esriLegendServiceLabel{
  visibility: hidden;
}
#toolbt{
    float: right;
    width: 550px;
    height: 20px;
  font-size: 14px;
    margin: 5px;
    border: 0px solid #73AD21;  
}
#tSpace{
  width:260px;
  height:25px;
  }



/*#toolbt{
  display:block;
  clear:both;
}
#divPrint {
  display:block;
  clear:both;
}*/

/* Map Area */
#cpCenter {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}


#divlogo {
  position: absolute;
  right: 80px;
  bottom: 25px;
  z-index:900;
  background-color:#EBE4E4;
  font-size:14px;
}

#divBasemapClick {
  position:absolute;
  top: 60px;
  right:40px;
  z-index:996;
  background-color: #f3f0ea;
  color: #000;
  padding: 5px;
}

#basemapGallery {
  z-index: 997;
}

/*#divBasemapContent {
  width:380px;
  height:280px;
  overflow:auto;
  z-index: 998;
}*/

#divBasemapContent {
  width:380px;
  height:120px;
  overflow:auto;
  z-index: 998;
}

#BasemapToggle {
    position: absolute;
    right: 20px;
    z-index: 999;
}

.claro .dijitButton .dijitButtonNode, 
.claro .dijitDropDownButton .dijitButtonNode, 
.claro .dijitComboButton .dijitButtonNode, 
.claro .dijitToggleButton .dijitButtonNode{
  background-color:#333;
  box-shadow: none;
  background-image: none;
  color: white;
  border:none;
}

.esriPrint{
  padding:none;
}

#divPrint{
  padding:none;
  top: -10px;
}

/*.esriPrint  .dijitIcon{
    padding:0;
      background-image:url(../image/print.png);
      background-repeat:no-repeat;
      display:inline-block;
    border: 0px solid #73AD21;
   }*/

  
.esriPrintButton{
    background-color:#000000;
  font-size: 14px;
  
}
.esriPrintout{
  color:red;
  font-size: 14px;
}


/* new style */
html, body, #map {
  height:100%;
  width:100%;
  margin:0;
  padding:0;
} 
#wrapper{
  position: relative;
  height: 100%;
  width: 100%;
}
#divSearch{
bottom: 70px;
right: 60px;
position: absolute;
    
 }
#map_zoom_slider{
  margin-bottom:10px;
}

#dropdown-menu{
  left: -395px;
}

.calcite-dropdown .dropdown-menu{
  z-index: 0;
}

.dijitComboBoxMenu{
  padding-left: 370px;
  padding-right: 5px;
  padding-right: 5px;
  z-index: 100;
}


.claro .dijitContentPane{
  padding: 0px;
}
/* Portrait and Landscape */
@media only screen and (max-width: 767px) { 

}


@media only screen and (max-width: 480px) { 

}

